<form action="/new" method="POST" class="card bg-black text-light">
    <div class="card-body p-4">
      <h1 class="h5 mb-4">AGEGAR CONTACTO</h1>
  
      <div class="mb-3">
        <label for="fullname">Ingrese el nombre</label>
        <input
          type="text"
          name="fullname"
          class="form-control rounded-0 bg-dark border-0 text-white"
          placeholder="Erick Milan "
          autofocus
        />
      </div>
  
      <div class="mb-3">
        <label for="email">Ingrese su gmail:</label>
        <input
          type="text"
          name="email"
          class="form-control rounded-0 bg-dark border-0 text-white"
          placeholder="erickmilan1002@gmail.com"
          required
        />
      </div>
  
      <div class="mb-3">
        <label for="phone">Ingrese tu numero de celular:</label>
        <input
          type="text"
          name="phone"
          class="form-control rounded-0 bg-dark border-0 text-white"
          placeholder="+51995560456"
        />
      </div>
  
      <button class="btn btn-primary">GUARDAR</button>
    </div>
</form>